.col1 {
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.col2 {
  width: 690px;
  padding: 20px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  width: 2070px;
  height: 196;
  transform: translateX(0%);
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-direction: normal;
  justify-content: space-between;
  position: absolute;
  top: 0; 
  transition: .8s;
  box-sizing: inherit;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 690px;
  height: 196px;
  display: flex;
}