body {
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  background-color: #1b1b1c;
}
.stockBox:hover {
  background-color: #171718;
}

.wrapper {
  width: 2058;
  transform: translateX(0%);
}

.stockBox {
  height: 138px;
  width: 112.5px;
  border: 1px solid;
  padding: 22px 23px;
  margin-right: 12px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  border-color: #0d0d0d;
  float: left;
  border-radius: 2px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
}

.name {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-block-end: 0px;
  letter-spacing: 0.2px;
  font-weight: 500;
  margin: 0;
  max-height: 6ex;
  overflow: hidden;
  color: #ffffff;
  cursor: pointer;
  text-align: left;
  line-height: 19px;
  font-size: 13px;
  box-sizing: inherit;
  margin-bottom: 5px;
}
.rating {
  margin-left: 6px;
  font-weight: 400;
  letter-spacing: .25px;
  color: white;
}

.ratingBlurb {
  visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 50%;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    line-height: 15px;
  
}
.ratingHover:hover .ratingBlurb {
  visibility: visible;
}

.price {
  color: #21ce99;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 30px;
  margin: 0 0 4px;
}

.priceChange {
  color: #21ce99;
}